/* Index page */
.navbar {
    background-color: #ffffff;
    width: 100%;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}

.nav-item a {
    color: #777777;
}

.navbar {
    margin-bottom: 50px;
}

.navbar-toggler {
    /* background-color: red; */
    border-color: rgb(255,102,203);

}

body {
    /* padding-top: 70px; */
    background-image: url('../styling/interlaced.png');
    background-size: cover;
    /* color: #777777;
    width: 90%;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both; */
}

.row {
    background-color: #ffffff;
}



h2 {
    color:#4aaaa5;
    padding-left: 20px;
    padding-top: 10px;
}

.row-bordered {
    position: relative;
}

.row-bordered:after {
    content:' ';
    display: block;
    border: .5px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}





/* footer formatting */
.container-1 {
    padding-bottom: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

footer:before{
    content:' ';
    display: block;
    border: 3px solid #4aaaa5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    vertical-align: baseline;
    background-color: #3b3b3b;
    text-decoration: none;
    color: #ffffff;
    margin-top: -40px;
    /* overflow: hidden; */
  }

.social > li {
    display: inline-block;
  }